
<p-steps [model]="itemsContex" [(activeIndex)]="activeIndexContex" [readonly]="false"></p-steps>
<p-toast></p-toast>
<form [formGroup]="form" novalidate >
    <div class="p-col-12 p-lg-12" *ngIf="activeIndexContex==0">
        <div class="p-col-12 p-lg-12">
            <div class="p-grid ui-fluid">
                <div class="p-lg-6">
                    <div class="p-col-12">
                        <label for="introduccion">Introducción:</label>
                    </div>
                    <div class="p-col-2">
                        <textarea formControlName="introduccion" style="width: 500px;" [rows]="5" [cols]="30"
                            pInputTextarea placeholder="Introducción" ></textarea>
                    </div>
                    <div class="p-col-12">
                        <label for="fundamentacion">Fundamentación:</label>
                    </div>
                    <div class="p-col-2">
                        <textarea formControlName="fundamentacion" style="width: 500px;" [rows]="5" [cols]="30"
                            pInputTextarea placeholder="Fundamentación" ></textarea>
                    </div>
                </div>
                <div class="p-lg-6">
                    <div class="p-col-12">
                        <label for="diagnostico">Analisis situacional (Diagnóstico):</label>
                    </div>
                    <div class="p-col-2">
                        <textarea formControlName="situational_analysis" style="width: 500px;" [rows]="5" [cols]="30"
                            pInputTextarea placeholder="Analisis situacional (Diagnóstico)"
                            ></textarea>
                    </div>
                    <div class="p-col-12">
                        <label for="justificaion">Justificaión:</label>
                    </div>
                    <div class="p-col-2">
                        <textarea formControlName="justificaion" style="width: 500px;" [rows]="5" [cols]="30"
                            pInputTextarea placeholder="Justificaión" ></textarea>
                    </div>
                </div>
            </div>    
            <button 
            *ngIf="!botton_display"  
            [disabled]="form.invalid" 
            pButton 
            pRipple 
            type="submit" 
            label="Guardar" 
            class=" p-button-outlined"
            (click)="create()"
        >
        </button>
        <button 
            *ngIf="botton_display"
            [disabled]="form.invalid"
            pButton 
            pRipple 
            type="submit" 
            label="Actualizar" 
            class=" p-button-outlined p-button-success"
            (click)="update()"
        >
        </button>
        </div>
    </div>
    <div class="p-col-12 p-lg-12" *ngIf="activeIndexContex==1">
        <div class="p-col-12 p-lg-12">
            <div class="p-grid ui-fluid">
                <div class="p-lg-12">
                    <div class="p-grid">
                        <p-table [value]="objetives">
                            <ng-template pTemplate="caption">
                                <div class="p-d-flex p-ai-center p-jc-between">
                                    <button pButton pRipple 
                                        type="button" 
                                        icon="pi pi-plus" 
                                        class="p-button-rounded p-button-help"
                                        (click)="updateobjetives('create')"
                                    ></button>
                                </div>
                            </ng-template>
                            <ng-template pTemplate="header">
                                <tr>
                                    <th>Typo de objetivo</th>
                                    <th>Descripcion</th>
                                    <th>Medio de verificacion</th>
                                    <th>Indicador</th>
                                    <th>Opciones</th>
                                </tr>
                            </ng-template> 
                            <ng-template pTemplate="body" let-aims>   
                                <tr >
                                    <td>{{aims.type.name}} </td>
                                    <td>{{aims.description}}</td>
                                    <td>{{aims.means_verification}}</td>
                                    <td>{{aims.indicator}}</td>
                                    <td>
                                        <button 
                                            pButton 
                                            pRipple type="submit" 
                                            icon="pi pi-pencil" 
                                            class="p-button-rounded p-button-warning"
                                            (click)="updateobjetives(aims)"
                                        ></button>
                                        <button pButton pRipple 
                                            type="button" 
                                            icon="pi pi-times" 
                                            class="p-button-rounded p-button-danger"
                                            (click)="deleteObjetive(aims)"
                                        ></button>
                                    </td>
                                </tr>
                            </ng-template>                
                          </p-table>
                            
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
    </div>
</form>
<p-dialog header="Lista de los obejtivos a cumplir en la institucion beneficaria" 
[(visible)]="display_objetive" modal="true"
           showEffect="fade" [style]="{width: '100%'}">
    <ng-template pTemplate="content">
        <p-table [value]="objetives">
            <ng-template pTemplate="header">
                <tr>
                    <th>Typo de objetivo</th>
                    <th>Descripcion</th>
                    <th>Medio de verificacion</th>
                    <th>Indicador</th>
                    <th>Opciones</th>
                </tr>
            </ng-template> 
            <ng-template pTemplate="body" let-aims>   
                <tr >
                    <td>{{aims.type.name}} </td>
                    <td>{{aims.description}}</td>
                    <td>{{aims.indicator}}</td>
                    <td>{{stakeHolders.type.name}}</td>
                    <td>
                        <button 
                            pButton 
                            pRipple type="submit" 
                            icon="pi pi-pencil" 
                            class="p-button-rounded p-button-warning"
                            (click)="updateHolder(stakeHolders)"
                        ></button>
                        <button pButton pRipple 
                            type="button" 
                            icon="pi pi-times" 
                            class="p-button-rounded p-button-danger"
                            (click)="deleteHolder(stakeHolders)"
                        ></button>
                    </td>
                </tr>
            </ng-template>                
          </p-table>
    </ng-template >  
    <ng-template pTemplate="footer">
        <button type="submit" 
            pButton 
            pRipple 
            label="Cancelar" 
            icon="pi pi-check" 
        class="p-button-text" 
        (click)="display_holder=false"></button>
    </ng-template >  
    
</p-dialog>
<p-dialog header="Participante lado institucion beneficaria" 

[(visible)]="display_cu" modal="true"
           showEffect="fade" [style]="{width: '50%'}">
           
    <form  [formGroup]="object">
        <div class="p-grid">
            <div class="p-col-12">
                <label for="objetivoEspecifico">Tipo de Objetivo:</label>
            </div>
            <!-- <div class="p-col-10">
                <input formControlName="objetivoEspecifico" type="text" pInputText
                    placeholder="Objetivos específicos">
            </div> -->
            <div class="p-col-10">
                <p-dropdown 
                [options]="objetive" 
                [(ngModel)]="objetiveSelect"
                formControlName="type"
                placeholder="tipo" 
                optionLabel="name" [showClear]="true">

                </p-dropdown>
            </div>
            <div class="p-col-12">
                <label for="indicador">Indicador:</label>
            </div>
            <div class="p-col-10">
                <input formControlName="indicator" type="text" pInputText placeholder="Indicador">
            </div>
            <div class="p-col-12">
                <label for="medioVerificacionEspe">Medio de verificación:</label>
            </div>
            <div class="p-col-10">
                <input formControlName="means_verification" type="text" pInputText
                    placeholder="Medios de verificación">
            </div>
            <!-- <div class="p-col-12">
                <label for="resultado">Resultado:</label>
            </div>
            <div class="p-col-10">
                <textarea formControlName="resultado" [rows]="5" [cols]="30" pInputTextarea
                    placeholder="Resultados" ></textarea>
            </div> -->
            <div class="p-col-12">
                <label for="actividad">Descripcion:</label>
            </div>
            <div class="p-col-10">
                <textarea 
                    formControlName="description" [rows]="5" [cols]="30" pInputTextarea
                    placeholder="Ingresa la descripcion recuerda se es objetivos las primera palabra 
                    es con verbos terminados en ar er o ir" >
                </textarea>
            </div>
            <div class="p-md-4">
                
            </div>
        </div>
        <button 
            pButton 
            *ngIf="display_btnD"
            [disabled]="object.invalid"
            type="submit" 
            label="Crear"
            (click)="createObjetives()"
        ></button>
        <button 
        pButton 
        pRipple 
        [disabled]="object.invalid"
        *ngIf="!display_btnD"
        type="submit" 
        label="Actualizar" 
        class=" p-button-outlined p-button-success"
        (click)="updatepObjetives()"
        >
        </button>

    </form>
</p-dialog>