{{formCategoryIn.value|json}} 
<p-toast></p-toast>
<p-card>
    <div class="p-fluid">
        <form [formGroup]="formCategoryIn" (ngSubmit)="onSubmit()">
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="parent">Padre:</label>
                    <input id="parent" name="parent" pInputText formControlName="parent_id" />
                    <div *ngIf="parentField.errors && parentField.touched">
                        <small *ngIf="parentdField.hasError('required')" 
                        id="parent-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>

            <!-- <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="children">children:</label>
                    <input id="children" name="children" pInputText formControlName="children" />
                    <div *ngIf="childrenField.errors && childrenField.touched">
                        <small *ngIf="childrenField.hasError('required')" 
                        id="children-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div> -->

            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="code">Código:</label>
                    <input id="code" name="code" pInputText formControlName="code" />
                    <div *ngIf="codeField.errors && codeField.touched">
                        <small *ngIf="codeField.hasError('required')" 
                        id="code-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="name">Nombre:</label>
                    <input id="name" name="name" pInputText formControlName="name" />
                    <div *ngIf="nameField.errors && nameField.touched">
                        <small *ngIf="nameField.hasError('required')" 
                        id="name-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="icon">ícono:</label>
                    <input id="icon" name="icon" pInputText formControlName="icon" />
                    <div *ngIf="iconField.errors && iconField.touched">
                        <small *ngIf="iconField.hasError('required')" 
                        id="icon-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>

            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <button type="submit" pButton pRipple label="Guardar y Salir" icon="pi pi-save"
                        class="p-button-success p-button-raised"></button>
                </div>
                <div *ngIf="!idField.value" class="p-field p-col">
                    <button type="button" pButton pRipple label="Guardar" icon="pi pi-arrow-right" class="p-button-raised"
                        (click)="onSubmit($event,true)"></button>
                </div>
            </div>
        </form>
    </div>
</p-card>
