{{formCategoryIn.value|json}} 
<p-card>
 <div class="p-fluid">
    <form [formGroup]="formCategoryIn" (ngSubmit)="onSubmit()">  
        
         <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="parent">Padre:</label>
                <input id="parent" name="parent" pInputText formControlName="parent" />
                <div *ngIf="paretntField.errors && parentField.touched">
                    <small *ngIf="parentField.hasError('required')" 
                    id="parent-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="children">Hijo</label>
                    <input id="children" name="children" pInputText formControlName="icon" />
                    <div *ngIf="childrenField.errors && childrenField.touched">
                        <small *ngIf="childrenField.hasError('required')" 
                        id="children-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>    

        
        </div>
         <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="code">Código:</label>
                <input id="code" name="code" pInputText formControlName="code" />
                <div *ngIf="codeField.errors && codeField.touched">
                    <small *ngIf="codeField.hasError('required')" 
                    id="code-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="contactPhon">Nombre:</label>
                <input id="name" name="name" pInputText formControlName="name" />
                <div *ngIf="nameField.errors && nameField.touched">
                    <small *ngIf="nameField.hasError('required')" 
                    id="name-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="icon">Ícono</label>
                <input id="icon" name="icon" pInputText formControlName="icon" />
                <div *ngIf="iconField.errors && iconField.touched">
                    <small *ngIf="iconField.hasError('required')" 
                    id="icon-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        
        <div class="p-formgrid p-grid">
            <div class="p-field p-xl-6 p-lg-6 p-md-12 p-sm-12">
                <button pButton pRipple type="submit" id="btnSaveLeave"
                        label="Guardar y Salir"
                        class="p-button-success p-button-raised"
                        icon="pi pi-save"></button>
            </div>
            <div *ngIf="!idField.value" class="p-field p-xl-6 p-lg-6 p-md-12 p-sm-12">
                <button pButton pRipple type="button" id="btnSave"
                        label="Guardar"
                        class="p-button-raised"
                        icon="pi pi-arrow-right"
                        (click)="onSubmit(true)"></button>
            </div>
        </div>
    </form>
</div>
</p-card>