 <div class="p-grid">
    <div class="p-col-12">
        <app-category-list
                [categoriesIn]="categories"
                [flagCategories]="flagCategories"
                [paginatorIn]="paginator"
                [formCategoryIn]="formCategory"
                (categoriesOut)="categories=$event"
                (displayOut)="categoryDialog=$event"
                (formCategoryOut)="formCategory=$event"
                (paginatorOut)="getCategories($event)">
        </app-category-list>

       <p-dialog [(visible)]="categoryDialog" [style]="{width: '1000px'}" header="Categorias" [modal]="true"
                  styleClass="p-fluid" (onHide)="categoryDialog=false">
            <app-category-form
                    [categoriesIn]="categories"
                    [formCategoryIn]="formCategory"
                    (categoriesOut)="categories=$event"
                    (displayOut)="categoryDialog=$event">

            </app-category-form>
        </p-dialog> 
    </div>
</div>  


 