{{formExperienceIn.value|json}}
<p-toast></p-toast>
<p-card>
    <div class="p-fluid">
        <form [formGroup]="formExperienceIn" (ngSubmit)="onSubmit($event)">
            <div class="p-field p-xl-12 p-lg-6 p-md-6 p-sm-15">
                <label for="area">
                    <i class="p-error">*</i> Area:
                    <i *ngIf="areaField.valid" class="pi pi-check-circle icon-valid"></i>
                    <i *ngIf="areaField.invalid && (areaField.touched || areaField.dirty)"
                        class="pi pi-times-circle icon-invalid"></i>
                </label>
                <p-dropdown id="area" [options]="areas" formControlName="area" optionLabel="name" [filter]="true"
                    filterBy="name" placeholder="Seleccione...">
                    <ng-template pTemplate="selectedItem">
                        <div class="country-item country-item-value" *ngIf="areaField.value">
                            <div>{{areaField.value.name}}</div>
                        </div>
                    </ng-template>
                    <ng-template let-item pTemplate="item">
                        <div class="country-item">
                            <div>{{item.name}}</div>
                        </div>
                    </ng-template>
                </p-dropdown>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <i class="p-error">*</i>Nombre Empledor:
                    <input id="employer" name="employer" pInputText formControlName="employer" />
                    <div *ngIf="employerField.errors && employerField.touched">
                        <small *ngIf="employerField.hasError('required')" id="employer-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="p-formgrid p-grid">
                <div class="p-field p-col">
                    <label for="position">Cargo:</label>
                    <input id="position" name="position" pInputText formControlName="position" />
                    <div *ngIf="positionField.errors && positionField.touched">
                        <small *ngIf="positionField.hasError('required')" id="position-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                        <small *ngIf="positionField.errors?.minlength" id="position-help-2" class="p-error">
                            {{messageService.fieldMinLength(positionField)}}
                        </small>
                    </div>
                </div>
            </div>
            <div class="p-field">
                <label for="start_date">
                    <i class="p-error">*</i> Fecha de Inicio:
                    <i *ngIf="startDateField.valid" class="pi pi-check-circle icon-valid"></i>
                    <i *ngIf="startDateField.invalid && (startDateField.touched || startDateField.dirty)"
                        class="pi pi-times-circle icon-invalid"></i>
                </label>
                <app-date formControlName="start_date" id="start_date">
                </app-date>
                <div *ngIf="startDateField.errors && (startDateField.touched || startDateField.dirty)">
                    <small *ngIf="startDateField.errors?.required" id="start_date-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
            <div class="p-field">
                <label for="end_date">Fecha Fin: </label>
                <app-date formControlName="end_date" id="end_date">
                </app-date>
            </div>
            <div formArrayName="activities">
                <div>
                    <button pButton pRipple type="button" label="Añadir Activities" iconPos="right" icon="pi pi-plus"
                        class="p-button-success p-button-raised" (click)="addActivities()">
                    </button>
                </div>
                <label for="activities">Actividades</label>
                <div *ngFor="let activities of activitiesField.controls; let nameActivity = index">
                    <div class="p-fluid p-formgrid p-grid">
                        <div class="p-field p-xl-11 p-lg-11 p-md-6 p-sm-12">
                            <input pInputText id="activities" [formControlName]="nameActivity">
                        </div>
                        <div class="p-field p-xl-1 p-lg-1 p-md-1 p-sm-12">
                            <button pButton pRipple type="button" icon="pi pi-trash"
                                class="p-button-danger p-button-rounded" (click)="removeActivities(nameActivity)">
                            </button>
                        </div>
                        <div *ngIf="activitiesField.errors && (activitiesField.touched || activitiesField.dirty)">
                            <small *ngIf="activitiesField.hasError('required')" id="activities-help-1" class="p-error">
                                {{messageService.fieldRequired}}
                            </small>
                        </div>
                    </div>
                </div>
            </div>
            <div class="p-field p-col">
                <label for="reason_leave">Razón que se fue:</label>
                <input id="reason_leave" pInputText formControlName="reason_leave" />
                <div *ngIf="reasonLeaveField.errors && reasonLeaveField.touched">
                    <small *ngIf="reasonLeaveField.hasError('required')" id="reason_leave-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
            <label for="isWorking">
                <i class="p-error">*</i>Esta trabajando:
                <i *ngIf="isWorkingField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="isWorkingField.invalid && (isWorkingField.touched || isWorkingField.dirty)"
                    class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-inputSwitch formControlName="is_working" (onChange)="clickIsWorking($event)" onLabel="yes" offLabel="no">
                <ng-template let-isWorking pTemplate="isWorking">
                    <div class="country-isWorking">
                        <div>{{is_working.name}}</div>
                    </div>
                </ng-template>
            </p-inputSwitch>
            <br>
            <label for="isDisability">
                <i class="p-error">*</i>Es discapacitado:
                <i *ngIf="isDisabilityField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="isDisabilityField.invalid && (isDisabilityField.touched || isDisabilityField.dirty)"
                    class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-inputSwitch formControlName="is_disability" (onChange)="clickIsDisability($event)" onLabel="yes"
                offLabel="no">
                <ng-template let-isDisability pTemplate="isDisability">
                    <div class="country-isDisability">
                        <div>{{is_disability.name}}</div>
                    </div>
                </ng-template>
            </p-inputSwitch>
            <div class="p-formgrid p-grid">
                <div class="p-field p-xl-6 p-lg-6 p-md-12 p-sm-12">
                    <button pButton pRipple type="submit" id="btnSaveLeave" label="Guardar y Salir"
                        class="p-button-success p-button-raised" icon="pi pi-save"></button>
                </div>
                <div *ngIf="!idField.value" class="p-field p-xl-6 p-lg-6 p-md-12 p-sm-12">
                    <button pButton pRipple type="button" id="btnSave" label="Guardar" class="p-button-raised"
                        icon="pi pi-arrow-right" (click)="onSubmit(true)"></button>
                </div>
            </div>
        </form>
    </div>
</p-card>