{{formExperienceIn.value|json}}
<p-toast></p-toast>
<div class="p-fluid">
    <form [formGroup]="formExperienceIn" (ngSubmit)="onSubmit($event)">
        <!-- <div class="p-field">
            <app-location-address [option]="2" (formAddressOut)="formAddress=$event"
                (formLocationOut)="setFormLocation($event)" id="address" name="address" formControlName="address">
            </app-location-address>
        </div> -->
        <div class="p-field">
            <label for="area">
                <i class="p-error">*</i> Area:
                <i *ngIf="areaField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="areaField.invalid && (areaField.touched || areaField.dirty)"
                    class="pi pi-times-circle icon-invalid"></i>
            </label>
            <p-autoComplete id="area" name="area" formControlName="area" [suggestions]="filteredAreas"
                (completeMethod)="filterArea($event)" field="name" [dropdown]="true">
                <ng-template let-area pTemplate="item">
                    <div class="country-item">
                        <div>{{area.name}}</div>
                    </div>
                </ng-template>
            </p-autoComplete>
            <div *ngIf="areaField.invalid && (areaField.touched || areaField.dirty)">
                <small *ngIf="areaField.errors?.required" id="area-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="employer">Nombre Empledor:</label>
                <input id="employer" name="employer" pInputText formControlName="employer" />
                <div *ngIf="employerField.errors && employerField.touched">
                    <small *ngIf="employerField.hasError('required')" id="employer-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="position">Posición:</label>
                <input id="position" name="position" pInputText formControlName="position" />
                <div *ngIf="positionField.errors && positionField.touched">
                    <small *ngIf="positionField.hasError('required')" id="position-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
        <div class="p-field">
            <label for="start_date">
                <i class="p-error">*</i> Fecha de Inicio:
                <i *ngIf="startDateField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="startDateField.invalid && (startDateField.touched || startDateField.dirty)"
                    class="pi pi-times-circle icon-invalid"></i>
            </label>
            <app-date formControlName="start_date" id="start_date" (click)="calculateEndDate()">
            </app-date>
            <div *ngIf="startDateField.errors && (startDateField.touched || startDateField.dirty)">
                <small *ngIf="startDateField.errors?.required" id="start_date-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>
        <div class="p-field">
            <label for="end_date">Fecha Fin: </label>
            <app-date formControlName="end_date" id="end_date">
            </app-date>
        </div>
        <div formArrayName="activities">
            <div>
                <button pButton pRipple type="button" label="Añadir Activities" iconPos="right" icon="pi pi-plus"
                    class="p-button-success p-button-raised" (click)="addActivities()">
                </button>
            </div>
            <label for="activities">Actividades</label>
            <div *ngFor="let activities of activitiesField.controls; let nameActivity = index">
                <div class="p-fluid p-formgrid p-grid">
                    <div class="p-field p-xl-11 p-lg-11 p-md-6 p-sm-12">
                        <input pInputText id="activities" [formControlName]="nameActivity">
                    </div>
                    <div class="p-field p-xl-1 p-lg-1 p-md-1 p-sm-12">
                        <button pButton pRipple type="button" icon="pi pi-trash"
                            class="p-button-danger p-button-rounded" (click)="removeActivities(nameActivity)">
                        </button>
                    </div>
                    <div *ngIf="activitiesField.errors && (activitiesField.touched || activitiesField.dirty)">
                        <small *ngIf="activitiesField.hasError('required')" id="activities-help-1" class="p-error">
                            {{messageService.fieldRequired}}
                        </small>
                    </div>
                </div>
            </div>
        </div>
        <!-- <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="isWorking">Esta trabajando:</label>
                <input id="isWorking" name="isWorking" pInputText formControlName="isWorking" />
                <div *ngIf="isWorkingField.errors && isWorkingField.touched">
                    <small *ngIf="isWorkingField.hasError('required')" id="isWorking-help-1" class="p-error">
                        {{messageService.fieldRequired}}
                    </small>
                </div>
            </div>
        </div>
      <div class="p-field">
            <label for="isWorking">
                <i class="p-error">*</i> Está Trabajando:
                <i *ngIf="isWorkingField.valid" class="pi pi-check-circle icon-valid"></i>
                <i *ngIf="isWorkingField.invalid && (isWorkingField.touched || isWorkingField.dirty)"
                    class="pi pi-times-circle icon-invalid"></i> 
                </label>
                <p-checkbox name="groupname" value="val1" [(ngModel)]="selectedValues"></p-checkbox>
                <p-checkbox name="groupname" value="val2" [(ngModel)]="selectedValues"></p-checkbox>  
            </div>-->


        <div class="p-field p-col">
            <label for="reasonLeave">Razón que se fue:</label>
            <input id="reason_leave" name="reasonLeave" pInputText formControlName="reason_eave" />
            <div *ngIf="reasonLeaveField.errors && reasonLeaveField.touched">
                <small *ngIf="reasonLeaveField.hasError('required')" id="reason_leave-help-1" class="p-error">
                    {{messageService.fieldRequired}}
                </small>
            </div>
        </div>


        <div class="p-field">
            <label for="isWorking">
                <i class="p-error">*</i> Está Trabajando:
                <div class="p-field-checkbox">
                    <p-checkbox name="isWorking" value="si" formControlName="is_working" [(ngModel)]="selectedIsWorking"
                        inputId="isWorking"></p-checkbox>
                    <label for="ny">SI</label>
                </div>
                <div class="p-field-checkbox">
                    <p-checkbox name="isWorking" value="no" formControlName="is_working" [(ngModel)]="selectedIsWorking"
                        inputId="isWorkingField"></p-checkbox>
                    <label for="sf">NO</label>
                </div>
            </label>
        </div>

        <div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <button type="submit" pButton pRipple label="Guardar y Salir" icon="pi pi-save"
                    class="p-button-success p-button-raised"></button>
            </div>
            <div *ngIf="!idField.value" class="p-field p-col">
                <button type="button" pButton pRipple label="Guardar" icon="pi pi-arrow-right" class="p-button-raised"
                    (click)="onSubmit($event,true)"></button>
            </div>
        </div>
    </form>
</div>