<app-skeleton *ngIf="flagCategories"></app-skeleton>

<div class="card">
    <p-toolbar styleClass="p-mb-4">
        <ng-template pTemplate="left">
            <button pButton pRipple label="Nuevo" icon="pi pi-plus" class="p-button-success p-button-rounded"
                    (click)="openNewFormCategory()"></button>
            <button pButton pRipple label="Eliminar" icon="pi pi-trash" class="p-button-danger p-button-rounded p-ml-2"
                    (click)="deleteCategories()"
                    [disabled]="!selectedCategories || !selectedCategories.length"></button>
            <button pButton pRipple label="Actualizar" icon="pi pi-refresh" class="p-button-info p-button-rounded p-ml-2"
                    (click)="paginatorOut.emit(paginatorIn)"></button>
        </ng-template>

    </p-toolbar>
    <p-paginator [rows]="paginatorIn.per_page" [totalRecords]="paginatorIn.total"
                 (onPageChange)="pageChange($event)"></p-paginator>
    <p-table #dt
             [value]="categoriesIn"
             [rows]="paginatorIn.per_page"
             [paginator]="false"
             [(selection)]="selectedCategories"
             [rowHover]="true"
             dataKey="id"
             styleClass="p-datatable-customers"
             currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
             [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
            <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                <h5 class="p-m-0">Categorías</h5>
                <span class="p-input-icon-left">
                        <i class="pi pi-search" (click)="searchCategories($event,search.value)"></i>
                        <input #search pInputText type="text" (keyup)="searchCategories($event,$event.target.value)"
                               placeholder="Buscar..."/>
                    </span>
            </div>
        </ng-template>
        <ng-template pTemplate="header">
            <tr>
                <th style="width: 3rem">
                    <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                </th>
               
                <th pSortableColumn="code">
                    Código
                    <p-sortIcon field="code"></p-sortIcon>
                </th>
                <th pSortableColumn="name">
                    Nombre
                    <p-sortIcon field="name"></p-sortIcon>
                </th>
                <th pSortableColumn="icon">
                    Icono
                    <p-sortIcon field="icon"></p-sortIcon>
                </th>
                <th></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-category>
            <tr>
                <td>
                    <p-tableCheckbox [value]="category"></p-tableCheckbox>
                </td>
               
                <td>
                    {{category.code}}
                </td>
                <td>
                    {{category.name}}
                </td>
                <td>
                    {{category.icon}}
                </td>
                <td>
                    <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-warning"
                            (click)="openEditFormCategory(category)"></button>
                    <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-danger p-ml-2"
                            (click)="deleteCategories(category)"></button>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="summary">
            <div class="p-d-flex p-ai-center p-jc-between">
                En total hay {{paginatorIn ? paginatorIn.total : 0 }} category.
            </div>
        </ng-template> 
    </p-table>
</div>