<p-toast></p-toast>
<div class="p-grid ui-fluid">
  <form [formGroup]="projectForm" novalidate class="p-grid">
    <div class="p-fluid p-formgrid p-grid">
      <div class="p-field p-col-12 p-md-6">
        <label for="titulo"><strong> Título del Proyecto: </strong></label>
        <input
          formControlName="title"
          type="text"
          name="titulo"
          pInputText
          placeholder="Proyecto Página Web"
        />
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="codigo"><strong> Código del Proyecto</strong></label>
        <input
          formControlName="code"
          type="text"
          pInputText
          name="codigo"
          placeholder="ABC123"
        />
      </div>
      <div class="p-field p-col-12">
        <label for="descripcion"><strong>Descripción</strong> </label>
        <textarea
          id="descripcion"
          type="text"
          rows="3"
          pInputTextarea
          formControlName="description"
          
        ></textarea>
      </div>
      <div class="p-field p-col-12 p-md-3">
        <label for="localizacion"> <strong>Localización</strong> </label>
        <p-cascadeSelect
          formControlName="location"
          [options]="countries"
          name="location"
          optionLabel="name"
          placeholder="Elige una provincia"
          optionGroupLabel="name"
          [optionGroupChildren]="['children', 'children']"
          [style]="{ minWidth: '14rem' }"
        >
        </p-cascadeSelect>
        <!-- [value]="project.location.id" -->
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="carrera"><strong>Carrera:</strong></label>
        <p-autoComplete
          name="carrera"
          formControlName="career"
          [suggestions]="filteredCareers"
          (completeMethod)="findCareer($event)"
          field="name"
          [minLength]="1"
          [dropdown]="true"
        >
          <ng-template let-career pTemplate="actCareers">
            <div class="ui-helper-clearfix">
              <div style="font-size: 18px; margin: 10px 10px 0 0">
                {{ career.name }} <strong>- {{ career.modality?.name }}</strong>
              </div>
            </div>
          </ng-template>
        </p-autoComplete>
      </div>
      <div class="p-field p-col-8 p-md-2">
        <label for="plazo"><strong>Plazo de ejecución:</strong> </label>
        <input
          formControlName="lead_time"
          disabled="disabled"
          type="text"
          id="plazo"
          pInputText
          placeholder="0"
        />
      </div>
      <div class="p-col-4 p-md-1">
        <br />
        <span class="p-text-left">mes/es</span>
      </div>

      <div class="p-field p-col-12 p-md-3">
        <label for="fecha_inicio"> <strong>Fecha Inicio</strong> </label>
        <p-calendar
          formControlName="start_date"
          [showIcon]="true"
          placeholder="Fecha inicio"
        ></p-calendar>
      </div>
      <div class="p-field p-col-12 p-md-6">
        <label for="fecha_final"><strong>Fecha Final</strong></label>
        <p-calendar
          formControlName="end_date"
          [showIcon]="true"
          placeholder="Fecha final"
        ></p-calendar>
      </div>
      <div class="p-field p-col-8 p-md-3">
        <label for="fecha_presentacion"
          ><strong>Fecha de Presentación:</strong>
        </label>
        <p-calendar
          formControlName="delivery_date"
          [showIcon]="true"
          placeholder="Fecha presentación"
        >
        </p-calendar>
      </div>
      <div class="p-field p-col-4">
        <label for="diagnostico"><strong>Diagnóstico</strong> </label>
        <textarea
          id="diagnostico"
          type="text"
          rows="2"
          pInputTextarea
          formControlName="diagnosis"
        ></textarea>
      </div>
      <div class="p-field p-col-4">
        <label for="justificacion"><strong>Justificación</strong> </label>
        <textarea
          id="justificacion"
          type="text"
          rows="2"
          pInputTextarea
          formControlName="justification"
        ></textarea>
      </div>
      <div class="p-field p-col-4">
        <label for="ciclo"><strong>Ciclo</strong> </label>
        <input
          formControlName="cycles"
          type="text"
          pInputText
          id="ciclo"
          placeholder="Ej: Primero, Segundo, Tercero"
        />
      </div>
    </div>



    <br />
    <div class="p-col-12">
      <button
        *ngIf="projectForm.value.id === null && this.url.length === 2"
        pButton
        pRipple
        [disabled]="projectForm.invalid"
        type="submit"
        label="Guardar"
        class="p-button-outlined"
        (click)="create()"
      ></button>
      <button
        *ngIf="projectForm.value.id !== null || this.url.length == 3"
        pButton
        pRipple
        [disabled]="projectForm.invalid"
        type="submit"
        label="Actualizar"
        class="p-button-outlined p-button-success"
        (click)="update()"
      ></button>
    </div>
  </form>
</div>
