<p-dataView [value]="offers" [paginator]="false" filterBy="requirements" layout="list"
            emptyMessage="Sin datos.">
    <ng-template let-offer pTemplate="listItem">
        <div class="p-col-12">
            <app-data-view-list-item [offer]="offer"
                                     (idOffer)="applyOffer($event, 'sweet')"
                                     (displayModalMoreInformation)="showModalMoreInformation($event)">
            </app-data-view-list-item>
        </div>
    </ng-template>
</p-dataView>


<p-dialog *ngIf="displayModalMoreInformation" [(visible)]="displayModalMoreInformation"
          [header]="moreInformation.position.name" [modal]="true" [style]="{width: '50vh'}"
          [maximizable]="true" [baseZIndex]="10000" [draggable]="false" [resizable]="false">
    <div class="card">
        <p-toast position="top-center" key="ap"></p-toast>
        <p-tabView>
            <p-tabPanel header="Oferta" leftIcon="pi pi-briefcase" tooltip="">
                <p><strong>Código:</strong> {{ moreInformation.code }}</p>
                <p><strong>Nombre de contacto:</strong> {{ moreInformation.contact_name }}</p>
                <p><strong>email de contacto:</strong> {{ moreInformation.contact_email }}</p>
                <p><strong>Teléfono de contacto:</strong> {{ moreInformation.contact_phone }}</p>
                <p><strong>Celular de contacto:</strong> {{ moreInformation.contact_cellphone }}</p>
                <p><strong>Fecha de inicio:</strong> {{ moreInformation.start_date }}</p>
                <p><strong>Actividades:</strong> {{ moreInformation.activities   }}</p>
                <p><strong>Requerimientos:</strong> {{ moreInformation.requirements   }}</p>
                <p><strong>Información dicional:</strong> {{ moreInformation.aditional_information  }}</p>
                <hr>
                <p><strong>Fecha de creación:</strong> {{ moreInformation.created_at  }}</p>
            </p-tabPanel>
            <p-tabPanel header="Ubicación" leftIcon="pi pi-globe" tooltip="">
                <p><strong>Nombre:</strong> {{ moreInformation.location.name  }}</p>
                <hr>
                <p><strong>Región:</strong> {{ moreInformation.location.region  }}</p>
                <hr>
                <p><strong>Subegión:</strong> {{ moreInformation.location.subregion  }}</p>
                <hr>
            </p-tabPanel>
            <p-tabPanel header="Categorías" leftIcon="pi pi-tags" tooltip="">
                <div *ngFor="let category of moreInformation.categories; index as i">
                    <p-divider align="left" type="dashed">
                        <strong>Categoría {{ i + 1 }}</strong>
                    </p-divider>
                    <p>{{ category.name }}</p>
                </div>
            </p-tabPanel>
        </p-tabView>
    </div>
    <ng-template pTemplate="footer">
        <p-button *ngIf="displayButtonApply" icon="pi pi-check"
                  (click)="applyOffer(moreInformation.id.toString(), 'toast')" label="Aplicar"
                  class="p-button-text"></p-button>
        <p-button icon="pi pi-times" styleClass="p-button-secondary"
                  (click)="closeModalMoreInformation()" label="Cerrar"></p-button>
    </ng-template>
</p-dialog>
