<h1 *ngIf="this.url.length == 3">Administración Proyecto</h1>
<h1 *ngIf="this.url.length == 2">Nuevo Proyecto</h1>
<!-- <p-toast></p-toast> -->
<button pButton pRipple 
    *ngIf="this.url.length == 2" style="margin-bottom: 1%;"
        type="submit" 
        label="Regresar"
        class="p-button-outlined p-button-help"
        routerLink="../projects"
>
</button>
<button pButton pRipple style="margin-bottom: 1%;"
    *ngIf="this.url.length == 3"
        type="submit" 
        label="Regresar"
            class="p-button-outlined p-button-help"
        routerLink="../../projects"
>
</button>
<div class="card card-w-title">
    <div class="ui-helper-clearfix">
      <!--   <div class="p-grid">
            <div class="p-col-12 p-md-6">
                <h5>Cambiar estado de proyecto</h5>
                <p-splitButton label="Pendiente" 
                    (onClick)="statusA('STATUS_2')" 
                    [model]="items">
                </p-splitButton>
            </div>
            <div class="p-col-12 p-md-1">
              <strong> Estado:{{status}}</strong>
            </div>
            <div class="p-col-12 p-md-5">
                <div *ngIf="status=='STATUS_1'">
                <button pButton type="submit" 
                    label="Terminar y enviar a coodinación" 
                    (onClick)="statusA('STATUS_2')" 
                ></button>
                </div>
                <div *ngIf="status=='STATUS_3'">
                    <button pButton type="submit" 
                    label="Enviar a corrección" 
                    (onClick)="statusA('STATUS_4')" 
                    ></button>
                </div>

            </div>
        </div> -->
    </div>
    <div>
        <p-tabView>
            <p-tabPanel header="Proyecto" leftIcon="pi pi-paperclip">
                <app-proyecto></app-proyecto>
            </p-tabPanel> 
            <p-tabPanel *ngIf="check()" header="Institución beneficiaria" leftIcon="pi pi-briefcase">
                <app-institucion-beneficiaria></app-institucion-beneficiaria>
            </p-tabPanel> 
            <!-- <p-tabPanel *ngIf="check()" header="Contextualización" leftIcon="pi pi-bars">
                <app-contextualizacion></app-contextualizacion>
            </p-tabPanel>
            <p-tabPanel *ngIf="check()" header="Participantes" leftIcon="pi pi-users">
                <app-participantes></app-participantes>
            </p-tabPanel>
            <p-tabPanel *ngIf="check()" header="Actividades" leftIcon="pi pi-list">
                <app-actividades></app-actividades>
            </p-tabPanel> 
            <p-tabPanel *ngIf="check()" header="Adjuntos" leftIcon="pi pi-calendar">
                <app-cronogramas></app-cronogramas>
            </p-tabPanel> -->
        </p-tabView>
    </div>
</div>

<!-- <p-dialog
header="Participante lado institucion beneficaria" 
[(visible)]="display_status" modal="true"
showEffect="fade" [style]="{width: '50%'}"
>
<textarea pInputTextarea [(ngModel)]="observation"></textarea>

<button pButton 
type="submit" 
    label="Enviar a corrección" 
    (onClick)="statusR('STATUS_3')" 
></button>
</p-dialog> -->